@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
 <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

</head>
<body>
    <div class="container px-4 py-4" id="home">
    <!-- change in Main -->
    <div class="bg-body-tertiary p-5 rounded">
        <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal">Welcome to Severins Friends</h1>
            <p class="fs-5">
                This project I've been working on for a while trying to stalk my friends and their pets.
            </p>
         
            <p>
                <a class="btn btn-primary" href="https://www.svtplay.se/dokument-inifran-stalker" role="button">Have you checked out this documentary?</a>
            </p>
        </div>
    </div>
</div>

</body>

