.body {
    background: url(/images/Background_FriendsList.png) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}


#heading {
    color: white
}

#headerCategory {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);

    background-color: rgba(70, 67, 67, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);

    margin-bottom: 15px;
    padding: 15px;
    margin-right: 10px;
    color: white;
}

#addNewButton {
     backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);

    background-color: rgba(70, 67, 67, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);

    margin-bottom: 15px;
    padding: 15px;
}

#mainBackground {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);

    margin-top: 15px;

    background-color: rgba(70, 67, 67, 0.1);

    border: 1px solid rgba(255, 255, 255, 0.3);

    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);

    padding: 15px;
}

#friendsrow {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);

    background-color: rgba(70, 67, 67, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);

    margin-bottom: 15px;
    padding: 15px;
    margin-right: 10px;
}

#friendsrow a {
    color: white;
    text-decoration: none;
}

#friendsrow p {
    color: white;
    text-decoration: none;
}

#buttonDiv {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);

    background-color: rgba(70, 67, 67, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);

    margin-bottom: 15px;
    padding: 15px;
}

#friendsrow a:hover {
    text-decoration: underline;
}

.page-link {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);

    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);

    color: white;
}